{% extends 'pattern.html' %}

{% block body %}
<div class="container mt-5">
    <form action="/add_person" method="post">
        Person
        <input type="text" name="surname" id="surname" class="form-control" placeholder="surname"><br>
        <input type="text" name="name" id="name" class="form-control" placeholder="name"><br>
        <input type="text" name="patronymic" id="patronymic" class="form-control" placeholder="patronymic"><br>
        <input type="text" name="cafedra" id="cafedra" class="form-control" placeholder="cafedra"><br>
        <input type="text" name="passport_data" id="passport_data" class="form-control" placeholder="passport_data"><br>
        <input type="date" name="date_of_birthday" id="date_of_birthday" class="form-control" placeholder="date_of_birthday"><br>
        <input type="text" name="registration" id="registration" class="form-control" placeholder="registration"><br>
        <input type="text" name="place_of_residence" id="place_of_residence" class="form-control" placeholder="place_of_residence"><br>
        <input type="text" name="telephone" id="telephone" class="form-control" placeholder="telephone"><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock %}