{% extends 'pattern.html' %}

{% block title %}
Обновление данных
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        Person
        <input type="text" name="author" id="author" class="form-control" value="{{ info_Book.author }}" placeholder="author"><br>
        <input type="text" name="name" id="name" class="form-control" value="{{ info_Book.name }}" placeholder="name"><br>
        <input type="text" name="date_of_issue" id="date_of_issue" class="form-control" value="{{ info_Book.date_of_issue }}" placeholder="date_of_issue"><br>
        <input type="text" name="return_date" id="return_date" class="form-control" value="{{ info_Book.return_date }}" placeholder="return_date"><br>
        <input type="text" name="person_id" id="person_id" class="form-control" value="{{ info_Book.person_id }}" placeholder="person_id"><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}