{% extends 'pattern.html' %}

{% block title %}
Обновление данных
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        Person
        <input type="text" name="author" id="author" class="input_update form-control" value="{{ info_Book.author }}" placeholder="author"><br>
        <input type="text" name="name" id="name" class="input_update form-control" value="{{ info_Book.name }}" placeholder="name"><br>
        <form action="return">
            <div class="button_return">
            <input type="text" name="person_id" id="person_id" class="input_update form-control" value="{{ info_Book.person_id }}" placeholder="person_id"> <button class="button_ret">Вернул</button>
            </div>
        </form>
        <br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}