{% extends 'pattern.html' %}
{% block head %}
<link href="../static/css/statistics.css" rel="stylesheet">
{% endblock %}
{% block title %}
Активность пользователей
{% endblock %}


{% block body %}
<br>
<h1 style="text-align: center">Активность пользователей</h1>
<br>
<div class="ar">
    <a href="http://127.0.0.1:5000/statistics/week" class="btn btn-success">Неделя</a>
<a href="http://127.0.0.1:5000/statistics/last_month" class="btn btn-success">За последний месяц</a>
<a href="http://127.0.0.1:5000/statistics/month" class="btn btn-success">По месяцам</a>
<a href="http://127.0.0.1:5000/statistics/year" class="btn btn-success">Год</a>
<a href="http://127.0.0.1:5000/statistics/all" class="btn btn-success">Всё</a>
</div>

</div>
{% endblock %}