{% extends 'pattern.html' %}

{% block head %}
<link href="../static/css/statistics.css" rel="stylesheet">
<script src="https://www.google.com/jsapi"></script>
<script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Год', 'Книги'],
     {% for i in data %}
     {{ i | safe }},
     {% endfor %}
    ]);
    var options = {
     title: 'Активность взятия книг',
     hAxis: {title: 'Дата'},
     vAxis: {title: 'Кол-во книг'}
    };
    var chart = new google.visualization.ColumnChart(document.getElementById('user_activity'));
    chart.draw(data, options);
   }
  </script>
{% endblock %}
{% block title %}
Активность
{% endblock %}


{% block body %}
<br>
<div class="ar">
  <a href="http://127.0.0.1:5000/statistics/week" class="btn btn-success">Неделя</a>
  <a href="http://127.0.0.1:5000/statistics/last_month" class="btn btn-success">За последний месяц</a>
  <a href="http://127.0.0.1:5000/statistics/month" class="btn btn-success">По месяцам</a>
  <a href="http://127.0.0.1:5000/statistics/year" class="btn btn-success">Год</a>
  <a href="http://127.0.0.1:5000/statistics/all" class="btn btn-success">Всё</a>
</div>
<div class="hist" id="user_activity">

</div>
{% endblock %}