{% extends 'pattern.html' %}

{% block title %}
Обновление данных
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        <input type="text" name="surname" id="surname" class="input_update form-control" value="{{ info_Person.surname }}" placeholder="Фамилия"><br>
        <input type="text" name="name" id="name" class="input_update form-control" value="{{ info_Person.name }}" placeholder="Имя"><br>
        <input type="text" name="patronymic" id="patronymic" class="input_update form-control" value="{{ info_Person.patronymic }}" placeholder="Отчество"><br>
        <input type="text" name="cafedra" id="cafedra" class="input_update form-control" value="{{ info_Person.cafedra }}" placeholder="Номер кафедры"><br>
        <input type="text" name="passport_data" id="passport_data" class="input_update form-control" value="{{ info_Person.passport_data }}" placeholder="Паспортные данные"><br>
        <input type="text" name="date_of_birthday" id="date_of_birthday" class="input_update form-control" value="{{ info_Person.date_of_birthday }}" placeholder="Дата рождения"><br>
        <input type="text" name="registration" id="registration" class="input_update form-control" value="{{ info_Person.registration }}" placeholder="Место регистрации"><br>
        <input type="text" name="place_of_residence" id="place_of_residence" class="input_update form-control" value="{{ info_Person.place_of_residence }}" placeholder="Место рождения"><br>
        <input type="text" name="telephone" id="telephone" class="input_update form-control" value="{{ info_Person.telephone }}" placeholder="Номер телефона"><br>
        <br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}